<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="QL_BAN_SACHConnectionString" connectionString="Data Source=localhost;Initial Catalog=QL_BAN_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_BAN_SACHConnectionString2" connectionString="Data Source=localhost;Initial Catalog=QL_BAN_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_BAN_SACHConnectionString3" connectionString="Data Source=localhost;Initial Catalog=QL_BAN_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_BAN_SACHConnectionString4" connectionString="Data Source=localhost;Initial Catalog=QL_BAN_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_BAN_SACHConnectionString5" connectionString="Data Source=localhost;Initial Catalog=QL_BAN_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
